body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #043d08;
}

.card {
    width: 150px;
    height: 210px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.card .value {
    font-size: 60px;
    font-weight: bold; 
    .heart, .diamond { color: red; };
    .spade, .club { color: black; };
}

.card .top-left,
.card .bottom-right {
    position: absolute;
    font-size: 50px;
    font-weight: bold;
    padding: 5px;
}


.card .top-left { top: 5px;  left: 5px; }
.card .bottom-right { bottom: 5px;  right: 5px; transform: rotateX(180deg);}
.heart, .diamond { color: red; }
.spade, .club { color: black; }

.controls {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    display: flex;
    gap: 10px;
}
#temporizador {
    background: #28a745;
    color: white;
    padding: 8px 15px;
    border-radius: 20px;
    min-width: 160px;
    text-align: center;
}